@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  &,
  &.light-mode {
    --color-gray-0: #fff;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;

    --color-shadow-sm: rgba(0, 0, 0, 0.04);
    --color-shadow-md: rgba(0, 0, 0, 0.06);
    --color-shadow-lg: rgba(0, 0, 0, 0.12);
  }

  &.dark-mode {
    --color-gray-0: #18212f;
    --color-gray-50: #111827;
    --color-gray-100: #1f2937;
    --color-gray-200: #374151;
    --color-gray-300: #4b5563;
    --color-gray-400: #6b7280;
    --color-gray-500: #9ca3af;
    --color-gray-600: #d1d5db;
    --color-gray-700: #e5e7eb;
    --color-gray-800: #f3f4f6;
    --color-gray-900: #f9fafb;

    --color-shadow-sm: rgba(0, 0, 0, 0.4);
    --color-shadow-md: rgba(0, 0, 0, 0.3);
    --color-shadow-lg: rgba(0, 0, 0, 0.4);
  }

  --color-brand-50: #fcb3c7;
  --color-brand-100: #fb8caa;
  --color-brand-200: #f9668e;
  --color-brand-500: #f84072;
  --color-brand-600: #c6335b;
  --color-brand-700: #952644;
  --color-brand-800: #631a2e;
  --color-brand-900: #320d17;

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
}
